{
  // Extend existing configuration
  // from ESlint
  "extends": [
    "eslint:recommended"
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true,
    "Proxy": true,
    "Reflect": true
  },
  "rules": {
    "getter-return": 1,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-underscore-dangle": 0,
    "no-unexpected-multiline": 1,
    "quotes": [0, "single"],
    "no-fallthrough": 0,
    "no-extra-boolean-cast": 0,
    "react/display-name": 0,
    "react/prop-types": 0
  }
}
